<!-- About Section -->
<section class="about" id="about">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>About</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <p>Increasingly, companies are generating large amounts of valuable customer data, but are unable to use this data to its full potential due to privacy-related considerations. The Synthetic Data Vault enables data scientists to sidestep data-sharing concerns and expand the pool of possible problem participants by generating synthetic data.</p>
    </div>
    <div class="col-lg-4">
      <p>By learning a generative model that accounts for dependence and relationships, SDV creates new data that resembles the original set statistically and structurally so that it can be used in its place. In our tests, data scientists using SDV data performed at least as well as data scientists using the original data in more than 70% of cases.</p>
    </div>
    <!--div class="col-lg-8 col-lg-offset-2 text-center">
      <a href="https://github.com/HDI-Project/SDV/" target="_blank" class="btn btn-lg btn-outline">
        <i class="fa fa-github"></i> Get Started!
      </a>
    </div-->
  </div>
</div>
</section>
