 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>SDV, The Synthetic Data Vault, is an open source tool that learns from real world relational databases to later on be able to produce syntehtic data as similar as possible to it.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether the goal is anonymized data sharing, oversampling unbalanced Machine Learning Datasets or simply Syntehtic data generation, SDV is what you are looking for!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/HDI-Project/SDV/" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-github"></i> Get Started!
                    </a>
                </div>
            </div>
        </div>
    </section>
