<!-- Header -->
<header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="intro-text">
        <span class="title">{{ site.title }}</span>
        <span class="description">{{ site.description }}</span>
      </div>
      <div class="get-started text-center">
        <a href="https://github.com/HDI-Project/SDV/" target="_blank" class="btn btn-lg btn-outline">
          <i class="fa fa-github"></i> Get Started!
        </a>
      </div>
    </div>
  </div>
</div>
</header>
